.titulo, td{
	text-align: center;
}

.imagen_busto{
	width: 200px;
	display: block;

	margin-left: auto;
	margin-right: auto;
}

.parrafo, ul, table{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

li{
	font-size: 25px;
	list-style-type: square;
}

table, th, td{
	border: 1px solid gray;
}

table{
	border-collapse: collapse;
}

th {
	height: 50px;
	background-color: royalblue;
}
